	ul{
	list-style:none;
	}
	.spisok li {
    border: none;
}
.table-pink:nth-child(even) {
    background-color: #ff69b4; 
    color: white; 
}
.footer {
            background-color: #ff69b4; 
            color: white; 
            text-align: left; 
            padding: 10px; 
        }
