body{
	margin:0px;
}
table
{
border-collapse:collapse;	
}		
th,td{
border:1px solid black;
padding:8px;
text-align:center;	
}
th{
background-color:grey;
color:white;	
}	
header{
background-color: #FFDEAD;
height: 100px;
}
img.car
{
	
            width: 90px;
            height: 90px;
			padding:5px 0 10px 50px;
			
			
                   
   }
#vyravn
{
width:960px;
}
ul
{ list-style-position: inside;}

.even
{
	background-color:pink;
	
}
#ft
{
	background-color:#DB7093;
	height:100px;
}
.ft1
{
	padding:20px 0 0 50px;
	font-size:20px;
}
#tr{
padding-top:20px;
position:absolute;
top:-10px;
left:160px;	
font-style: italic;
font-size:30px;
	
}
#stroke
{
	display: inline-block;
	position:absolute;
	top:30px;
	left:1190px;
	text-decoration: none;
	word-spacing:25px;
	font-size:18px;
}
#stroke a
{
	text-decoration:none;
}
