        .calculator {
            max-width: 400px;
            margin: 0 auto;
            padding: 20px;
            border-radius: 5px;
        }

        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
        }

        .prodoption {
            display: none;
        }

        .dopproperty {
            display: none;
        }

        .errormes {
            color: red;
        }
